body {
  padding-bottom: 150px;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

* {
  box-sizing: border-box;
}

#app {
  .alert {
    &:empty {
      display: none;
    }
    border-radius: $radius;
  }

  .text-danger {
    font-size: 13px;
  }
}
