.alert {
  border-radius: 0;

  &-danger {
    background-color:#e66767;
    border-color: #e66767;
    color: white;
  }

  &-info {
    background-color: #c7ecee;
    border-color: #c7ecee;
    color: #22a6b3;
  }
}