.form-group {
  position: relative;

  label {
    color: #6d6d6d;
    font-size: .85rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }

  .form-control {

    &:disabled,
    &[readonly] {
      background: transparent;
    }
  }

  .vdp-datepicker {
    &__calendar {
      width: 100%;
    }

    .calender-header {
      background: #40739e;
      color: white;
      margin: 10px auto;
      padding: 3px;
      text-align: center;
      width: calc(100% - 10px);
    }
  }

  .fa {
    color: #40739e;
    position: absolute;
    right: 1rem;
    bottom: .75rem;
  }

  input[type=radio] {
    display: none;

    & + label {
      border: 1px solid transparent;
      cursor: pointer;
      font-weight: 400;
    }

    &:checked {
      & + label {
        background: #f5f6fa;
        border-color:#e7f3ff;
        color: #273c75;
        font-weight: 700;
      }
    }
  }

  .radio-label {
    padding: 0 10px 20px;
    width: 100%;
  }
}

.btn {
  &-primary {
    background: #487eb0;
    border-color: #40739e;

    &:hover,
    &:focus {
      background: #40739e;
      border-color: #40739e;
    }
  }

  &-success {
    background: #079992;
    border-color: #079992;

    &:hover,
    &:focus {
      background: #38ada9;
      border-color: #079992;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(7, 153, 146, .5);
    }
  }
}